<h1><%= @customer.name %></h1>
<%= @customer.phone %>
<%= @customer.types_preference %>
<%= @customer.breed_preference %>
<h3>animals</h3>
<ul>
  <% @animals.each do |animal| %>
    <% if @customer.id.to_i == animal.customer_id.to_i %>
      <li><%= animal.name %></li>
    <% end %>
  <% end %>
</ul>
<a href="/customers/<%= @customer.id %>/connect_animal">Connect Animal</a>
